<div th:fragment="sampleFooter">
    <div class="footer-items">
        <div class="footer-item">
            <div class="footer-title">PenTag</div>
            <div class="footer-text"></div>
        </div>
        <div class="footer-item">
            <div class="footer-title">О школе</div>
            <div class="footer-text"><a href="#"><span>Команда</span></a></div>
            <div class="footer-text"><a href="#"><span>История успеха</span></a></div>
            <div class="footer-text"><a href="#"><span>Блог</span></a></div>
        </div>
        <div class="footer-item">
            <div class="footer-title">Курсы</div>
            <div class="footer-text"><a href="#"><span>Веб-разработка</span></a></div>
            <div class="footer-text"><a href="#"><span>Серверное программирование</span></a></div>
            <div class="footer-text"><a href="#"><span>Базы данных</span></a></div>
        </div>
        <div class="footer-item">
            <div class="footer-title">Контакты</div>
            <div class="footer-text">
                <a href="tel:+375291234567">
                    <span>+375 (29) 123-45-67</span>
                </a>
            </div>
            <div class="footer-text">
                <a href="tel:+375449876543">
                    <span>+375 (44) 987-65-43</span>
                </a>
            </div>
            <div class="footer-text">
                <a href="mailto:pentag@gmail.com">
                    <span>pentag@gmail.com</span>
                </a>
            </div>
            <div class="footer-text">г. Минск, пр. Независимости 173</div>
        </div>
        <div class="footer-item">
            <div class="footer-title">Социальные сети</div>
            <div class="footer-text"><a href="#"><span>Instagram</span></a></div>
            <div class="footer-text"><a href="#"><span>Telegram</span></a></div>
        </div>
    </div>
</div>