<div th:fragment="sampleNavigationManager">
    <div class="nav">
        <div class="logo">
            <a th:href="@{/main}">
                <img th:src="@{/img/sova.png}" alt="logo">
                <h2>PenTag</h2>
            </a>
        </div>
        <ul class="nav-items">
            <li class="nav-item"><a class="a" th:href="@{/viewStudents}">Работа с учениками</a></li>
            <li class="nav-item"><a class="a" th:href="@{/viewTeachers}">Работа с преподавателями</a></li>
            <li class="nav-item"><a class="a" th:href="@{/generateDocumentApplications}">Документы</a></li>
            <li class="nav-item"><a class="a" th:href="@{/statisticCourses}">Статистика</a></li>
            <li class="nav-item"><a class="a" th:href="@{/applications}">Заявки на курс</a></li>
        </ul>
        <form class="form_logout" th:action="@{/logout}" method="post">
                        <h3 th:inline="text">Вы вошли как: [[${#httpServletRequest.remoteUser}]]</h3>
            <input type="image" th:src="@{/img/logout.png}" width="20px" value="Sign out"/>
        </form>
    </div>
</div>