<div th:fragment="sampleHeadManager">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleAdmin.css}" href="../static/css/styleAdmin.css">
    <link rel="stylesheet" th:href="@{/css/styleManager.css}" href="../static/css/styleManager.css">
    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>
    <link rel="shortcut icon" th:href="@{/img/sova.ico}" href="../static/img/sova.ico" type="image/x-icon">
    <title th:text="${title}"/>
</div>