<div th:fragment="sampleNavigation">
    <div class="header-nav">
        <img class="cloud" th:src="@{img/cloud2.png}" alt="cloud">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{img/sova.png}" alt="">
                <h2>PenTag</h2>
            </a>
        </div>
        <ul class="nav-items">
<!--            <li class="nav-item"><a class="a" th:href="@{/teachers}">Преподаватели</a></li>-->
            <li class="nav-item"><a class="a" th:href="@{/cources}">Курсы</a></li>
            <li class="nav-item"><a class="a" th:href="@{/blog}">Блог</a></li>
<!--            <li class="nav-item"><a class="a" th:href="@{/managerAccount}">Менеджер</a></li>-->
<!--            <li class="nav-item"><a class="a" th:href="@{/studentAccount}">Ученик</a></li>-->
<!--            <li class="nav-item"><a class="a" th:href="@{/teacherAccount}">Учитель</a></li>-->
<!--            <li class="nav-item"><a class="a" th:href="@{/navigationAdmin}">Админ</a></li>-->
            <li class="nav-item"><a class="a" th:href="@{/about}">О школе</a></li>
            <li class="nav-item"><a class="a" th:href="@{/#faq}">FAQ</a></li>
<!--            <li class="nav-item"><button><a th:href="@{/managerAccount}">Кабинет Менеджера</a></button></li>-->
            <li class="nav-item"><button><a th:href="@{/#popup}">Войти</a></button></li>
        </ul>
    </div>
</div>