<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="samples/sampleHeadManager :: sampleHeadManager"></head>

<body>
<header th:insert="samples/sampleNavigationManager :: sampleNavigationManager" class="header"></header>

<div class="start-page">
    <div class="container">
<!--        <div class="aside">-->
<!--            &lt;!&ndash;            <div th:insert="samples/sampleSearchUser :: sampleSearchUser"></div>&ndash;&gt;-->
<!--        </div>-->
        <br><br><br>
        <div class="block">
            <nav th:insert="samples/sampleLeftNavigationManager :: sampleLeftNavigationManager"></nav>
            <div class="table">
                <h3>
                    <table>
                        <tr><th colspan="5">Список заявок на курс</th></tr>
                        <tr class="th_padding">
                            <th>ID</th>
                            <th>Имя клиента</th>
                            <th>Номер телефона</th>
                            <th>Время обратной связи</th>
                            <th>Курс</th>
                            <th>Статус заявки</th>
                        </tr>
                        <div th:each="el : ${applications}">
                            <tr class="td_center">
                                <td> <p th:text="${el.id}"></p></td>
                                <td> <p th:text="${el.namePerson}"></p></td>
                                <td> <p th:text="${el.telephone}"></p></td>
                                <td> <p th:text="${el.timeCall}"></p></td>
                                <td> <p th:text="${el.course.getNameCourse()}"></p></td>
                                <td> <p th:text="${el.status.getNameStatus()}"></p></td>
                            </tr>
                        </div>
                    </table>
                </h3>
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/in.js}" src="../static/js/in.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>