<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="samples/sampleHeadManager :: sampleHeadManager"></head>

<body>
<header th:insert="samples/sampleNavigationManager :: sampleNavigationManager" class="header"></header>

<div class="start-page">
    <div class="container">
        <!--        <div class="aside">-->
        <!--            &lt;!&ndash;            <div th:insert="samples/sampleSearchUser :: sampleSearchUser"></div>&ndash;&gt;-->
        <!--        </div>-->
        <br><br><br>
        <div class="block">
            <nav th:insert="samples/sampleLeftNavigationManager :: sampleLeftNavigationManager"></nav>
            <div class="table">
                <div class="add-text">
                    <h2>Редактирование поступившей заявки</h2>
                    <h3>Измените информацию в случае необходимости</h3>
                </div>

                <div class="add">
                    <h3 th:text="${message}"/><br>
                    <div th:each="el : ${resApplication}">
                        <form th:action="'/editApplication/' + ${el.id}" method="post">
                            <div class="add-item">
                                <p>Имя клиента:</p>
                                <input type="text" name="namePerson" th:value="${el.namePerson}"><br>
                            </div>
                            <div class="add-item">
                                <p>Моб. телефон:</p>
                                <input type="text" name="telephone" th:value="${el.telephone}"><br>
                            </div>
                            <div class="add-item">
                                <p>Время обратной связи:</p>
                                <input type="time" name="timeCall" th:value="${el.timeCall}" min="09:00" max="20:00"><br>
                            </div>
                            <div class="add-item">
                                <p>Курс:</p>
                                <select class="select" id="choiceCourse" name="course">
                                    <option th:value="${el.course.getNameCourse()}" th:text="${el.course.getNameCourse()}"></option>
                                    <option th:each="pos : ${courses}" th:value="${pos.nameCourse}" th:text="${pos.nameCourse}"></option>
                                </select>
                            </div>
                            <div class="add-item">
                                <p>Статус заявки:</p>
                                <select class="select" id="choiceStatus" name="status">
                                    <option th:value="${el.status.getNameStatus()}" th:text="${el.status.getNameStatus()}"></option>
                                    <option th:each="pos : ${statusApplications}" th:value="${pos.nameStatus}" th:text="${pos.nameStatus}"></option>
                                </select>
                            </div>
                            <input type="submit">Подтвердить изменения</input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/in.js}" src="../static/js/in.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>