<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="samples/sampleHeadAdmin :: sampleHeadAdmin"></head>

<body>
<header th:insert="samples/sampleNavigationAdmin :: sampleNavigationAdmin" class="header"></header>

<div class="start-page">
    <div class="container2">

        <div class="add-text">
            <h1>Добавление пользователя</h1>
            <h3>Все поля являются обязательными.</h3>
        </div>

        <div class="add">
            <h3 th:text="${message}"/><br>
            <form th:action="@{/registration}" method="post">
                <div class="add-item">
                    <p>Логин:</p>
                    <input type="text" name="username" placeholder="Введите фамилию сотрудника" required/><br>
                </div>
                <div class="add-item">
                    <p>Пароль:</p>
                    <input type="text" name="password" placeholder="Введите имя сотрудника" required/><br>
                </div>
                <input type="submit" value="Добавить пользователя"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>