<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="samples/sampleHeadAdmin :: sampleHeadAdmin"></head>

<body>
<header th:insert="samples/sampleNavigationAdmin :: sampleNavigationAdmin" class="header"></header>

<div class="start-page">
    <div class="container2">

        <div class="add-text">
            <h1>Редактирование пользователя</h1>
            <h3>Все поля являются обязательными.</h3>
        </div>

        <div class="add">
            <h3 th:text="${message}"/><br>
            <form th:action="@{/user/{user}}" method="post">
                <div class="add-item">
                    <p>Логин:</p>
                    <input type="text" name="username" th:value="${user.username}">
                </div>
                <div class="add-item">
                    <p>Пароль:</p>
                    <input type="text" name="password" th:value="${user.password}">
                </div>

                    <ul style="    background-color: #9c92fb; border-radius: 10px; color: #000000; font-size: 13px; font-weight: 300;">
                        <li th:each="rol : ${roless}">
                            <input type="checkbox" th:field="*{user.roles}" th:value="${rol.getAuthority()}" />
                            <label th:text="${rol.getAuthority()}"></label>
                        </li>
                    </ul>
                <input type="hidden" name="userId" th:value="${user.id}">

                <button type="submit">Save</button>

            </form>
            <!--                <div th:each="el : ${roles}">-->
            <!--                    <label><input type="checkbox" name="el.getAuthority()"/><p th:text="${el.getAuthority()}"></p></label>-->
            <!--&lt;!&ndash;                    <p th:text="${el.getAuthority()}"></p>&ndash;&gt;-->
            <!--                </div>-->

            <!--            <h3 th:text="${message}"/><br>-->
            <!--            <form th:action="@{/registration}" method="post">-->
            <!--                <div class="add-item">-->
            <!--                    <p>Логин:</p>-->
            <!--                    <input type="text" name="username" placeholder="Введите фамилию сотрудника"><br>-->
            <!--                </div>-->
            <!--                <div class="add-item">-->
            <!--                    <p>Пароль:</p>-->
            <!--                    <input type="text" name="password" placeholder="Введите имя сотрудника"><br>-->
            <!--                </div>-->
            <!--                <input type="submit" value="Добавить пользователя"/>-->
            <!--            </form>-->
        </div>
    </div>
</div>
</body>
</html>